{% extends 'base.html.twig' %}

{% block title %}Интернет-магазин{% endblock %}

{% block body %}
    <form style="margin: 10%; height: 25px">
        <h2>Добро пожаловать! {{ app.user.email }}</h2><br>
    </form>
{% endblock %}